body {
  margin: 0;
  background-color: silver;
}

.sportnav {
  overflow: hidden;
  background-color: white;
}

.sportnav a {
  float: left;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
}

.sportnav a:hover {
  background-color: #ddd;
}

.sportnav a button {
  position: absolute;
  right: 0;
  background: #ff0000;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.banner {
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
}

.banner input {
  position: relative;
  left: 500px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 500px;
  border: none;
}
  
.banner button {
  position: absolute;
  right: 0;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  width: 125px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner button:hover {
  text-decoration: underline;
}

.banner button:focus {
  background-color: white;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.grid-container-1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.grid-container-1 .meet-players, .meet-teams, .highlights {
  background-color: white;
  width: 32%;
  height: 1000px;
  border: 1px black solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
}

.grid-container-1 div h2 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  border: 1px black solid;
  border-radius: 5px 5px 0px 0px;
}

.grid-container-1 .meet-players .players-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  justify-content: center;
}

.grid-container-1 .meet-players .players-box img {
  height: 120px;
  margin: 5px;
}

.grid-container-1 .meet-teams .captains-lg-box {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  justify-content: center;
}

.grid-container-1 .meet-teams .captains-lg-box img {
  width: 50%;
  margin: 5px;
}

.latestvideo {
  overflow: hidden;
  display: grid;
  margin-left: 10px;
}

.latestvideo a h1 {
  font-family: Arial, Helvetica, sans-serif;
}